# Fichiers Python compilés
__pycache__/
*.pyc
*.pyo

# Environnement virtuel
venv/
.env/

# Fichiers système
.DS_Store
Thumbs.db

# Sauvegardes ou logs
*.log
*.bak
*.tmp

# Fichiers d'éditeur (VSCode, PyCharm, etc.)
.vscode/
.idea/

# Données temporaires
*.swp
*.swo

# 🔒 Fichiers KeePass
*.kdbx
*.key
*.kdb
*.kdbx~
*.kdb.backup
KeePass/

